* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #00001a;
    font-family: "Poppins";
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container1 {
    background-color: rgb(0, 0, 27, 0.2);
    border-radius: 50px;
}

.row1 {
    width: 80%;
    margin: auto;
}

.logo {
    font-size: 1.5rem;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.navbar1 .main-menu1 {
    display: flex;
}

.main-menu1 li a {
    display: inline-block;
    padding: 10px 20px;
}

li a:hover {
    color: #FE009C;
}

.menu-btn1 {
    display: none;
}

.row-content1 h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.row-content1 p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
}

.section1 {
    background-image: url("../Images/background_img1.png");
    /* The image used */
    /* background-color: aliceblue; */
    height: 900px;
    /* You must set a specified height */
    background-position: right top;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
}

.SVsection {
    background-image: url("../Images/SV-bg.jpg");
    height: 700px;
    background-position: right top;
    background-repeat: no-repeat;
}
.SVStats{
    width: 32rem;
    margin-top: 23px;
    background-color: rgba(0, 0, 0, 0.706);
    border-radius: 18px !important;
}
.SVheader{
    height: 700px;
}


.BGImage {
    background-image: url("../Images/background_img1.png");
    /* The image used */
    background-position: left top;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
}

.framebg {
    height: 700px;
    position: relative;
}

.framebg::after {
    content: "";
    background-image: url("../Images/frame-854x1024.png");
    position: absolute;
    top: 30px;
    right: -90px;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    transform: rotate(8deg);
    overflow: hidden;
}



.foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

.foreground-image-screen {
    position: absolute;
    top: 30px;
    left: 100px;
    max-width: 100%;
    height: auto;
}

.foreground-image-one {
    position: absolute;
    top: -20px;
    right: 180px;
    max-width: 100%;
    height: auto;
}

.foreground-image-two {
    position: absolute;
    top: 70px;
    right: 0px;
    max-width: 100%;
    height: auto;
}

.foreground-image-gamepad {
    position: absolute;
    top: 290px;
    right: -40px;
    max-width: 100%;
    height: auto;
}

.foreground-image-three {
    position: absolute;
    left: 50px;
    bottom: -80px;
    max-width: 100%;
    height: auto;
}

/* Adjust rotation and other styles for smaller screens */
@media (max-width: 768px) {
    .framebg::after {
        transform: rotate(0deg);
        /* No rotation for smaller screens */
        background-position: right top;
        /* Keep the image on the right */
    }
}

@media screen and (max-width: 968px) {
    .main-menu1 {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #252525;
        transition: 0.5s all ease;
        /* visibility: hidden; */
        display: none;
        align-items: center;
        transform: translateX(-800px);
        padding-top: 60px;
    }

    .main-menu1.show {
        transform: translateX(0px);
        transition: 0.5s all ease;
    }

    .main-menu1 li a {
        margin-bottom: 10px;
        display: block;
    }

    .menu-btn1 {
        display: block;
        position: absolute;
        color: white;
        top: 10px;
        right: 30px;
        font-size: 2rem;
    }
}

.nav-btn {
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    color: white;
    text-shadow: 0px 0px 15px black;
    background: rgb(228, 0, 166);
    background: linear-gradient(297deg, rgba(228, 0, 166, 1) 0%, rgba(76, 168, 247, 1) 100%);

}

.nav-btn2 {
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 55px;
    color: white;
    text-shadow: 0px 0px 15px black;
    background: rgb(228, 0, 166);
    background: linear-gradient(297deg, rgba(228, 0, 166, 1) 0%, rgba(76, 168, 247, 1) 100%);

}

.nav-btn3 {
    border: 2px solid white;
    outline: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 55px;
    color: white;
    text-shadow: 0px 0px 15px black;
    background-color: transparent;
}

.nav-btn3:hover, .nav-btn:hover, .nav-btn2:hover {
    color: black;
    background-color: white !important;
}

.content-div {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line-1 {
    color: #e400a6;
    font-weight: bold;
}

.line-3 {
    color: #5f6b98;
    font-weight: bold;
}

.line-2 {
    font-size: 76px;
    color: white;
}

.line-2_2 {
    font-size: 46px;
    color: white;
}

.line-2_3 {
    font-size: 60px;
    color: white;
}
.line-2_4 {
    font-size: 40px;
    color: white;
}

.line-2 span {
    color: #e400a6;
}

.line-2_3 span {
    color: #e400a6;
}
.line-2_4 span {
    color: #e400a6;
}

.leftcard {
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rightcard {
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.SpCard {
    background: rgb(228, 0, 166);
    background: linear-gradient(171deg, rgba(228, 0, 166, 1) 0%, rgba(76, 168, 247, 1) 100%);
}


.play-button {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: beat 2s infinite;
    position: relative;
    top: 350px;
    left: 320px;
}

.play-button::before {
    content: "\25B6";
    /* Unicode character for play icon */
    font-size: 36px;
    color: rgb(228, 0, 166);
}

#headerMobile {
    display: none !important;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.s4p2 {
    background-image: url("../Images/BGS4P2.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 700px; */
    background-position: center;
    z-index: 99;
}

.section4-a {
    text-decoration: none;
    color: #FE009C;
}

.section4-a:hover {
    color: #ffffff;
}

.section4-card {
    width: 20rem;
    background-color: rgba(5, 11, 51, 0.663);
    color: white;
}

.SpCard {
    width: 20rem;
    color: white;
}

.s5p2 {
    background-image: url("../Images/BGS4P2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section5-bg-img1 {
    background-image: url("../Images/s3_2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 410px;
    background-position: center;
    z-index: 99;
}

.section5-bg-img2 {
    background-image: url("../Images/section5_lg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 410px;
    background-position: center;
    z-index: 99;
}

.section5-bg-img3 {
    background-image: url("../Images/s3_4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 410px;
    background-position: center;
    z-index: 99;
}

.section5-bg-img4 {
    background-image: url("../Images/s3_5.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 410px;
    background-position: center;
    z-index: 99;
}

.secton5-cards {
    width: 38rem;
}

.section5-card-content {
    background-color: rgba(0, 0, 0, 0.281);
    position: relative;
    top: 30px;
}

.section5-card-content-detail {
    color: rgb(167, 167, 167);
}

.section5-card-content:hover .section5-card-content-head {
    color: #FE009C;
}

.section5-card-content:hover .section5-card-content-detail {
    color: #ffffff;
}

.section5-card-content:hover .section5-card-content-a {
    color: skyblue;
}

.s6BG {
    background-image: url("../Images/background_img1.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

.section6-first-div {
    background-image: url("../Images/frame-854x1024.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.s6-f-img {
    height: 450px;
    width: 450px;
}

.s7BG {
    background-image: url("../Images/BGS4P2.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.s7-p2 {
    background-image: url("../Images/headerMan.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}

.section7-row2{
    position: relative;
    left: -20px;
}
.line-3{
    text-shadow: 0px 0px 15px black;
}
.s8BG{
    background-image: url("../Images/s8BG.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-attachment: fixed;
    /* height: 500px; */
    background-position: center;
}
.s9BG{
    background-image: url("../Images/BGS4P2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.owl-buttons {
    display: none;
  }
  .owl-carousel:hover .owl-buttons {
    display: block;
  }
  
  .owl-item {
    text-align: center;
  }
  
  .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    color: #869791;
    font-size: 40px;
    line-height: 300px;
    margin: 0;
    padding: 0 60px;
    position: absolute;
    top: 0;
  }
  .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    padding-left: 20px;
  }
  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    padding-right: 20px;
  }
  .section8-card {
    width: 20rem;
    background-color: #060c1c;
    color: white;
}

.FQAbtn{
    width: 100%;
    height: 50px;
    background-color: #00001a9e;
    border: none;
    outline: none;
    color: white;
    background-color: #0d1221;
}

.FQAbtn:focus{
    background: rgb(228, 0, 166);
    background: linear-gradient(171deg, rgba(228, 0, 166, 1) 0%, rgba(76, 168, 247, 1) 100%);
}
.footer-section{
    background: rgb(228, 0, 166);
    background: linear-gradient(171deg, rgba(228, 0, 166, 1) 0%, rgba(76, 168, 247, 1) 100%);
    padding: 40px;
    border-radius: 23px;
}
.bg-footer {
    background-image: url("../Images/BGS4P2.png");
    background-repeat: no-repeat;
    background-position: center;
   
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}


@media (max-width: 1000px) {
    .s7-p2 {
        background-image: none
    }
    
    .section7-row2{
        position: relative;
        left: 0px;
    }
    .section4-card,.section8-card, .SpCard {
        width: 100%;
    }

    .section5-bg-img1, .section5-bg-img2, .section5-bg-img3, .section5-bg-img4 {
        height: 300px;
    }

    .section5-cards {
        width: 100%;
    }

    #headerLaptop {
        display: none !important;
    }

    #headerMobile {
        display: block !important;
    }

    .section1 {
        height: 500x;
        /* You must set a specified height */
    }

    .framebgM {
        background-image: url("../Images/frame-854x1024.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 99;
    }

    .line-2 {
        font-size: 66px;
        color: white;
    }

    .line-2_3 {
        font-size: 50px;
    }
    .line-2_4 {
        font-size: 30px;
    }

    .line-2_2 {
        font-size: 36px;
        color: white;
    }

    .Mforeground-image {
        height: 250px;
        width: 200px;
        z-index: 999;
    }


    .content-div1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}


@media (max-width: 700px) {
    #headerLaptop {
        display: none !important;
    }

    #headerMobile {
        display: block !important;
    }

    .framebgM {
        background-image: url("../Images/frame-854x1024.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 99;
    }

    .line-2 {
        font-size: 36px !important;
        color: white;
    }

    .line-2_3 {
        font-size: 30px;
    }
    .line-2_4 {
        font-size: 20px;
    }

    .line-2_2 {
        font-size: 26px !important;
        color: white;
    }

    .Mforeground-image {
        height: 250px;
        width: 200px;
        z-index: 999;
    }


    .content-div1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-btn2 {
        font-size: 12px;
        padding: 6px 20px;
    }

    .nav-btn3 {
        font-size: 12px;
        padding: 6px 20px;
    }

}

@media (max-width: 400px) {
    #headerLaptop {
        display: none !important;
    }

    #headerMobile {
        display: block !important;
    }

    .framebgM {
        background-image: url("../Images/frame-854x1024.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 99;
    }

    .line-2 {
        font-size: 16px !important;
        color: white;
    }

    .line-2_3 {
        font-size: 16px;
    }
    .line-2_4 {
        font-size: 14px;
    }

    .line-2_2 {
        font-size: 16px !important;
        color: white;
    }

    .line-3 {
        font-size: 9px;
    }

    .Mforeground-image {
        height: 250px;
        width: 200px;
        z-index: 999;
    }


    .content-div1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-btn2 {
        font-size: 12px;
        padding: 6px 20px;
    }

    .nav-btn3 {
        font-size: 12px;
        padding: 6px 20px;
    }

}


@media (max-width: 1300px) {
    .foreground-image-one {
        position: absolute;
        top: -20px;
        right: 130px;
        max-width: 100%;
        height: auto;
    }

    .line-2 {
        font-size: 46px;
        color: white;
    }

    .line-2_3 {
        font-size: 36px;
    }
    .line-2_4 {
        font-size: 26px;
    }

    .line-2_2 {
        font-size: 36px;
        color: white;
    }

    .play-button {
        width: 100px;
        height: 100px;
        position: relative;
        top: 350px;
        left: 290px;
    }

}

@media (max-width: 1200px) {
    .framebg::after {

        content: "";
        background-image: url("../Images/frame-854x1024.png");
        position: absolute;
        top: 30px;
        right: 120px;
        height: 400px;
        width: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
        transform: rotate(8deg);
        overflow: hidden;

    }

    .section1 {
        height: 600px;
        /* You must set a specified height */
    }

    .framebg {
        height: 500px;
        position: relative;
    }

    .play-button {
        width: 100px;
        height: 100px;
        position: relative;
        top: 350px;
        left: 45%;
    }

    .laptop-degin img {
        width: 100% !important;
    }

    .mobile-none {
        display: none;
    }

    .foreground-image {
        position: absolute;
        top: 0px;
        left: 0;
        height: 400px !important;
        width: 450px !important;
    }

    .foreground-image-screen {
        position: absolute;
        top: 0px;
        left: 30px;
        height: 100px !important;
        width: 210px !important;
    }

    .foreground-image-one {
        position: absolute;
        top: -20px;
        right: 200px;
        height: 70px !important;
        width: 70px !important;
    }

    .foreground-image-two {
        position: absolute;
        top: 70px;
        right: 100px;
        height: 70px !important;
        width: 70px !important;
    }

    .foreground-image-gamepad {
        position: absolute;
        top: 160px;
        right: 80px;
        height: 100px !important;
        width: 150px !important;
    }

    .foreground-image-three {
        position: absolute;
        left: 50px;
        bottom: 70px;
        height: 60px !important;
        width: 60px !important;
    }
}

@media (max-width: 100px) {
    .foreground-image {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: auto;
    }

    .foreground-image-screen {
        position: absolute;
        top: 30px;
        left: 100px;
        max-width: 100%;
        height: auto;
    }

    .foreground-image-one {
        position: absolute;
        top: -20px;
        right: 130px;
        max-width: 100%;
        height: auto;
    }

    .foreground-image-two {
        position: absolute;
        top: 70px;
        right: 0px;
        max-width: 100%;
        height: auto;
    }

    .foreground-image-gamepad {
        position: absolute;
        top: 290px;
        right: -40px;
        max-width: 100%;
        height: auto;
    }

    .foreground-image-three {
        position: absolute;
        left: 50px;
        bottom: -80px;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 770px) {
    .container1 {
        border-radius: 0%;
    }

    #mobile {
        display: block !important;
    }

    #laptop {
        display: none !important;
    }
}